<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>IF</title>

    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/nivo-lightbox.css">
    <link rel="stylesheet" href="~/css/nivo_themes/default/default.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link href="~/css/style-service.css" rel="stylesheet" />
    <link href="~/css/style-gallery.css" rel="stylesheet" />

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
</head>
<body>

    <!-- preloader section -->
    <section class="preloader">
        <div class="sk-spinner sk-spinner-pulse"></div>
    </section>

    <!-- navigation section -->
    <section class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">ZENTRO</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#home" class="smoothScroll">HOME</a></li>
                    <li><a href="#portfolio-section" class="smoothScroll">PRODUCTS GALLERY</a></li>
                    <li><a href="#services" class="smoothScroll">SERVICES</a></li>
                    <li><a href="#contact" class="smoothScroll">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </section>

    <!-- home section -->
    <section id="home" class="parallax-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h1>ZENTRO RESTAURANT</h1>
                    <h2>CLEAN &amp; SIMPLE DESIGN</h2>
                    <a href="#gallery" class="smoothScroll btn btn-default">LEARN MORE</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Begin Portfolio -->
    <section id="portfolio-section" class="page bg-style1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="portfolio">
                        <!-- Begin page header-->
                        <div class="page-header-wrapper">
                            <div class="container">
                                <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                                    <h2>Our Works</h2>
                                    <div class="devider"></div>
                                    <p class="subtitle">What we are proud of</p>
                                </div>
                            </div>
                        </div>
                        <!-- End page header-->
                        <div class="portfoloi_content_area">
                            <div class="portfolio_content">
                                <div class="row" id="portfolio">
                                    <div class="col-xs-12 col-sm-4 appsDevelopment">
                                        <div class="portfolio_single_content">
                                            <img src="~/images/portfolio/p1.jpg" alt="title" />
                                            <div>
                                                <a href="#">Skull Awesome</a>
                                                <span>Subtitle</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 GraphicDesign">
                                        <div class="portfolio_single_content">
                                            <img src="~/images/portfolio/p2.jpg" alt="title" />
                                            <div>
                                                <a href="#">Photo Frame</a>
                                                <span>Subtitle</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 responsive">
                                        <div class="portfolio_single_content">
                                            <img src="~/images/portfolio/p3.jpg" alt="title" />
                                            <div>
                                                <a href="#">Hand Shots</a>
                                                <span>Subtitle</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 webDesign websites">
                                        <div class="portfolio_single_content">
                                            <img src="~/images/portfolio/p4.jpg" alt="title" />
                                            <div>
                                                <a href="#">Night Abstract</a>
                                                <span>Subtitle</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 appsDevelopment websites">
                                        <div class="portfolio_single_content">
                                            <img src="~/images/portfolio/p5.jpg" alt="title" />
                                            <div>
                                                <a href="#">Joy of Independence</a>
                                                <span>Subtitle</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 GraphicDesign">
                                        <div class="portfolio_single_content">
                                            <img src="~/images/portfolio/p6.jpg" alt="title" />
                                            <div>
                                                <a href="#">Night Crawlers</a>
                                                <span>Subtitle</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 responsive">
                                        <div class="portfolio_single_content">
                                            <img src="~/images/portfolio/p7.jpg" alt="title" />
                                            <div>
                                                <a href="#">Last Motel</a>
                                                <span>Subtitle</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 GraphicDesign">
                                        <div class="portfolio_single_content">
                                            <img src="~/images/portfolio/p8.jpg" alt="title" />
                                            <div>
                                                <a href="#">Dirk Road</a>
                                                <span>Subtitle</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 websites">
                                        <div class="portfolio_single_content">
                                            <img src="~/images/portfolio/p9.jpg" alt="title" />
                                            <div>
                                                <a href="#">Old is Gold</a>
                                                <span>Subtitle</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End portfolio -->

    <!-- services -->
    <section id="services" class="services pad-bot5 bg-white">
        <div class="container">
            <div class="row mar-bot5">
                <div class="col-md-offset-3 col-md-6">
                    <div class="section-header">
                        <div class="wow bounceIn" data-animation-delay="7.8s">

                            <h2 class="section-heading animated">Our Service</h2>
                            <h4>Neque porro quisquam est, qui dolorem ipsum quia dolor.</h4>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row mar-bot40">
                <div class="col-lg-4">
                    <div class="wow bounceIn">
                        <div class="align-center">

                            <div class="wow rotateIn">
                                <div class="service-col">
                                    <div class="service-icon">
                                        <figure><i class="fa fa-cog"></i></figure>
                                    </div>
                                    <h2><a href="#">Easy to Customize</a></h2>
                                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="align-center">
                        <div class="wow bounceIn">

                            <div class="wow rotateIn">
                                <div class="service-col">
                                    <div class="service-icon">
                                        <figure><i class="fa fa-desktop"></i></figure>
                                    </div>
                                    <h2><a href="#">Responsive Layout</a></h2>
                                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="align-center">
                        <div class="wow bounceIn">
                            <div class="service-col">
                                <div class="service-icon">
                                    <figure><i class="fa fa-dropbox"></i></figure>
                                </div>
                                <h2><a href="#">Ready to Use</a></h2>
                                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!--/services-->
    <!-- contact section -->
    <section id="contact" class="parallax-section">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10 col-sm-12 text-center">
                    <h1 class="heading">Contact Us</h1>
                    <hr>
                </div>
                <div class="col-md-offset-1 col-md-10 col-sm-12 wow fadeIn" data-wow-delay="0.9s">
                    <form action="#" method="post">
                        <div class="col-md-6 col-sm-6">
                            <input name="name" type="text" class="form-control" id="name" placeholder="Name">
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <input name="email" type="email" class="form-control" id="email" placeholder="Email">
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <textarea name="message" rows="8" class="form-control" id="message" placeholder="Message"></textarea>
                        </div>
                        <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6">
                            <input name="submit" type="submit" class="form-control" id="submit" value="make a reservation">
                        </div>
                    </form>
                </div>
                <div class="col-md-2 col-sm-1"></div>
            </div>
        </div>
    </section>


    <!-- footer section -->
    <footer class="parallax-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
                    <h2 class="heading">Contact Info.</h2>
                    <div class="ph">
                        <p><i class="fa fa-phone"></i> Phone</p>
                        <h4>090-080-0760</h4>
                    </div>
                    <div class="address">
                        <p><i class="fa fa-map-marker"></i> Our Location</p>
                        <h4>120 Duis aute irure, California, USA</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
                    <h2 class="heading">Open Hours</h2>
                    <p>Sunday <span>10:30 AM - 10:00 PM</span></p>
                    <p>Mon-Fri <span>9:00 AM - 8:00 PM</span></p>
                    <p>Saturday <span>11:30 AM - 10:00 PM</span></p>
                </div>
                <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
                    <h2 class="heading">Follow Us</h2>
                    <ul class="social-icon">
                        <li><a href="#" class="fa fa-facebook wow bounceIn" data-wow-delay="0.3s"></a></li>
                        <li><a href="#" class="fa fa-twitter wow bounceIn" data-wow-delay="0.6s"></a></li>
                        <li><a href="#" class="fa fa-behance wow bounceIn" data-wow-delay="0.9s"></a></li>
                        <li><a href="#" class="fa fa-dribbble wow bounceIn" data-wow-delay="0.9s"></a></li>
                        <li><a href="#" class="fa fa-github wow bounceIn" data-wow-delay="0.9s"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <!-- copyright section -->
    <section id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h3>ZENTRO</h3>
                    <p>
                        Copyright © Zentro Restaurant and Cafe

                        | Design: <a rel="nofollow" href="http://www.tooplate.com" target="_parent">Tooplate</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- JAVASCRIPT JS FILES -->
    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.parallax.js"></script>
    <script src="~/js/smoothscroll.js"></script>
    <script src="~/js/nivo-lightbox.min.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/custom.js"></script>

</body>
</html>